{#
/**
 * @file
 * Default theme implementation to display a single Wistia playlist.
 *
 * Available variables:
 * - playlist_id: The Wistia playlist id.
 * - player_settings: Array of settings based on the global configuration.
 *
 * @ingroup themeable
 */
#}

<div id="wistia_{{ playlist_id }}" class="wistia_playlist wistia_embed" data-wistia-playlist-id="{{ playlist_id }}">&nbsp;</div>
